[Unit]  
Description="timer for export_nextcloud User {{ item.username }}"

[Timer]  
OnCalendar={{ item.on_calendar }}
Unit=export_nextcloud-{{ item.username }}.service 
Persistent=true

[Install]
WantedBy=timers.target
