#!/bin/bash

username="{{ item.username }}"
password="{{ item.password }}"
backup_path="{{ export_nextcloud_backup_path }}"
prometheus_stats="{{ export_nextcloud_prometheus_path }}/export_nextcloud_${username}.prom"

ERROR_EXPORT_KONTAKTE="true"
ERROR_EXPORT_KALENDER="true"

downloadLink="{{ export_nextcloud_url }}/remote.php/dav/calendars/${username}/pers%c3%b6nlich/?export"
curl -s -L -J -u "$username:$password" "$downloadLink" -o "${backup_path}/kalender-${username}.ics" && ERROR_EXPORT_KALENDER="false"

downloadLink="{{ export_nextcloud_url }}/remote.php/dav/addressbooks/users/${username}/kontakte/?export"
curl -s -L -J -u "$username:$password" "$downloadLink" -o "${backup_path}/kontakte-${username}.vcf" && ERROR_EXPORT_KONTAKTE="false"

> "${prometheus_stats}.$$" # Datei erstellen

echo "# HELP export_nextcloud_calendars_failed 1=failed 0=successful" >> "${prometheus_stats}.$$"
echo "# TYPE export_nextcloud_calendars_failed gauge" >> "${prometheus_stats}.$$"
if [ "${ERROR_EXPORT_KALENDER}" = "false" ]
then
  echo "export_nextcloud_calendars_failed{username=\"${username}\"} 0" >> "${prometheus_stats}.$$"
else
  echo "export_nextcloud_calendars_failed{username=\"${username}\"} 1" >> "${prometheus_stats}.$$"
fi

echo "# HELP export_nextcloud_addressbooks_failed 1=failed 0=successful" >> "${prometheus_stats}.$$"
echo "# TYPE export_nextcloud_addressbooks_failed gauge" >> "${prometheus_stats}.$$"
if [ "${ERROR_EXPORT_KONTAKTE}" = "false" ]
then
  echo "export_nextcloud_addressbooks_failed{username=\"${username}\"} 0" >> "${prometheus_stats}.$$"
else
  echo "export_nextcloud_addressbooks_failed{username=\"${username}\"} 1" >> "${prometheus_stats}.$$"
fi

mv "${prometheus_stats}.$$" "${prometheus_stats}"

EXITCODE=1
if [ "${ERROR_EXPORT_KALENDER}" = "false"  -a  "${ERROR_EXPORT_KONTAKTE}" = "false" ]
then
  EXITCODE=0
fi

exit $EXITCODE
