[Unit]  
Description="export_nextcloud User {{ item.username }}"

[Service]
Type=oneshot
ExecStart="{{ export_nextcloud_script_path }}/export_nextcloud_{{ item.username }}.sh"
User=root
Group=root

[Install]
WantedBy=multi-user.target
 